<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head> 
<style>
body {background-color: rgb(255, 255, 255);}
h1   {color: rgb(0, 0, 0); text-align: center;}
p    {color: black; text-align: center;}
</style>
    <body>
        <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Home</a>
                <a class="navbar-brand" href="{% url 'djangoapp:about' %}">About Us</a>
                <a class="navbar-brand" href="{% url 'djangoapp:contact' %}">Contact Us</a>
            </div>
        </div>
        </nav> 

      <div class="container">
            <h1>Past Dealership Reviews: </h1>
            {% if user.is_authenticated %}
                <a href="{% url 'djangoapp:add_review' dealer %}">Add a New Review</a>
            {% endif %}
            <br></br>
        </div>
        <div class= "card-columns container">
            {% for review in reviews %}
            <div class="card">
                <div class="card-body">
                    {% if review.purchase %}
                    <label class="card-title bold">{{review.car_make}}</label>
                    <label class="card-title">{{review.car_model}}</label>
                    <label class="card-title">{{review.car_year}}</label>
                    {% endif %}
                    <p class="card-text">{{review.review}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </body>

</html>